@import "tailwindcss";

@theme {
  --color-peach: #953529;
  --color-sage: #7A5C4D;
  --color-cream: #F3F0E6;
  --color-dark: #241814;

  --font-dynalight: var(--font-dynalight);
  --font-forum: var(--font-forum);
  --font-jakarta: var(--font-jakarta);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream);
  background-image: url('/cream-canvas-texture.jpg');
  background-repeat: repeat;
  background-size: 600px 600px;
  color: var(--color-dark);
  overflow-x: hidden;
}
