@import "tailwindcss";

@theme {
  --color-peach: #FAB078;
  --color-sage: #7F8D74;
  --color-cream: #FFFCF8;
  --color-dark: #1E201F;

  --font-dynalight: var(--font-dynalight);
  --font-forum: var(--font-forum);
  --font-jakarta: var(--font-jakarta);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFCF8;
  color: #1E201F;
  overflow-x: hidden;
}
